@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    ul {
        list-style-type: none;
    }
}

@layer components {
    .card {
        height: 330px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: theme("borderRadius.lg");
        border: 1px solid rgba(25, 141, 179, 0.1);
        background-color: #fff;
        overflow: hidden;
    }
}

@layer utilities {
    .light-shadow {
        box-shadow: 0px 2px 10px 0px rgba(146, 157, 161, 0.2);
    }

    .translate-z-0 {
        transform: translateZ(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.mySwiper {
    padding: 1rem 0 3rem 0;
}


body {
    --sb-track-color: #e9eaea;
    --sb-thumb-color: #929292;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}